<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Meine ASP.NET-Anwendung</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="~/Content/font-awesome.min.css" />
</head>
<body>
    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
        <!-- Brand -->
        <a class="navbar-brand" href="@Url.Action("Students", "BS2")">Schulverwaltung</a>

        <!-- Toggler/collapsibe Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navbar links -->
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Students", "BS2")">Schüler</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Students", "BS2DB")">Schüler (DB)</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Teachers", "Teacher")">Lehrer</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="main">
        <div class="container">
            @RenderBody()
        </div>
    </div>
    <footer class="bg-dark" style="color:white">
        <p>BS Linz 2 &copy; @DateTime.Now.Year</p>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
